:root {
  --color-black: #000;
  --color-white: #fff;
}

$darkPurple: #272733;
$pearl: #6f6d7b;
$grayishPurple: #3d4050;
$darkBlue: #286690;
$blue: #42a9ed;
$lightBlue: #3e9cdc;
$lightGray: #bbbbbb;
$light: #dfdfe1;
$whiteGray: #bfbfc2;
